<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.sample.minrva">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="minrva" android:icon="@drawable/minrva_icon">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCaTFuvEdEZ2CgBQK3VQbU0SUAvvWWsFzk" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="minrva.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>